@charset "utf-8";
/* CSS Document */
.profile_block div.body {

	font-size:13px !important;
}
.gift{
	height:270px;
	width:692px;
	/*background-image:url(../images/images/gifd.jpg);*/
	border:1px #990033 solid; 
	box-shadow: inset 0px 0px 30px #FFCC99;
	-webkit-box-shadow: inset 0px 0px 30px #FFCC99;
	-moz-box-shadow: inset 0px 0px 30px #FFCC99;
	margin-top:75px;
	margin-bottom: 30px;
}
.gifth{
	margin:10px;
}
.sur{
	margin-top: -29px;

position: absolute;
}

.gifth h2{
	font-size: 15px;
	text-align: center;
margin-top: 32px;
}
.gifta{
	background-color:#915;
	width:200px;
	height:160px;
	float:left;
	margin-left:24px;
	text-align:justify;
	-webkit-transition: all ease 0.5s;
transition: all ease 0.5s;
}
	/*box-shadow:inset  0px 0px 30px #FFCC99;
	-webkit-box-shadow: inset 0px 0px 30px #FFCC99;
	-moz-box-shadow: inset 0px 0px 30px #FFCC99;*/

.gifta h2{
	line-height: 1.3em;
	font-size: 15px;
	margin:15px;
	color:#FFF;
}
.giftb{
	background-color:#096;
	width:200px;
	height:160px;
	float:left;
	margin-left:20px;
	text-align:justify;
	-webkit-transition: all ease 0.5s;
transition: all ease 0.5s;
}
	/*box-shadow: inset 0px 0px 30px #FFCC99;
	-webkit-box-shadow: inset 0px 0px 30px #FFCC99;
	-moz-box-shadow: inset 0px 0px 30px #FFCC99;*/
.giftb h2{
	line-height: 1.3em;
	font-size: 15px;
	margin:15px;
	color:#FFF;
}
.giftc{
	background-color:#906;
	width:200px;
	height:160px;
	float:left;
	margin-left:20px;
	text-align:justify;
	-webkit-transition: all ease 0.5s;
transition: all ease 0.5s;

}
.gifta:hover {
-webkit-transform: scale(1.2);
transform: scale(1.2);
}
.giftb:hover {
-webkit-transform: scale(1.2);
transform: scale(1.2);
}
.giftc:hover {
-webkit-transform: scale(1.2);
transform: scale(1.2);
}

	/*box-shadow: inset 0px 0px 30px #FFCC99;
	-webkit-box-shadow: inset 0px 0px 30px #FFCC99;
	-moz-box-shadow: inset 0px 0px 30px #FFCC99;
}*/
.giftc h2{
	line-height: 1.3em;
	font-size: 15px;
	margin:15px;
	color:#FFF;
}
.gift span{
	color:#fdae16;
}
.gift p{
	margin-left:30px;
}
#newp{
	margin:10px;
}
.giftlist{
	width:630px;
	height:auto;
	text-align:justify;
}
.giftlist ol{
	list-style:decimal;
}
.olpos{
	margin-left:35px;
}
.olpos #mlist{
	margin-top:10px;
	margin-bottom:10px;
}
.olsub{
	list-style:lower-alpha !important;
	margin-left:25px !important;
}
.subol{
	list-style:lower-roman !important;
	margin-left:50px !important;
}
.sideterm{
	width:230px;
	border-top:#903 1px solid;
}

.sideterm ul li {
list-style: url(../images/images/silist.jpg) !important;
margin-left: 20px;
margin-top: 0px;
border-bottom: dotted 1px #CECECE;
padding-bottom: 12px;
margin-bottom: 0px;
}
	

.sideterm h2{
	margin:10px;
	text-align:center;
}

 .newdiv{
	 border: dashed 1px #CC0033;
	 padding:10px;
	 
 }