/* CSS Document */

body {
	margin:0px; padding:0px;
	background-color:#FFFFFF;
	border-top:solid 5px #1c6697;
	font-family:Arial, Helvetica, sans-serif;
	
}
img{
	border:none;
}
a{
	outline:none;
}
.clr {
	clear:both;
	}
.flt_lft {
	float:left;		
	}
.flt_rgt {
	float:right;		
	}	
#container {
	position:relative;
	width:1004px;
	overflow:hidden;
	left:50%; 
	margin-left:-502px;
	}	
#header_font {

    color: #BFBFBF;
    font-family:tahoma,arial,helvetica,sans-serif;
	font-size:11px;
    overflow: hidden;
    padding:2px;
    text-align: center;
	margin:0px;
}
.logo {
	width:220px;  float:left;  
	}
.logo span{	
font-size:12px; color:#666666; padding-left:15px;	
	}
.search_bar {
	width:740px; height:85px; float:left; margin-left:15px; margin-top:15px; 
	}
.search_bar  .top{
	width:720px; height:15px;  background-color:#cdeefd; margin-left:6px; font-size:14px; padding:4px; text-align:center;
	}
.search_bar .search_main {
	width:740px; height:48px;
	}
.search_sign {	
float:right; font-size:11px; color:#cc5600;
	}
.search_sign a{
	color:#cc5600;
	text-decoration:none;
	}	
.search_sign a:hover{		
	text-decoration:underline;
	}
.search_bar .search_main .in{	
width:710px; padding:9px 0px 0px 15px; 
	}	
.search_bar .search_main .in .text{
    border: 1px solid #DDDDDD;
	background-color:#FFFFFF;
    font-size:14px;
    line-height: 1.1;
    margin: 0 5px 0 0;
    padding: 3px 3px;
    width: 210px;
	height:17px; float:left;
}
.section-wrap .search_data_values {
	width:190px;
	height:19px;
	background-color:#FFFFFF;
	border:0px;
	}
		
.section-wrap {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    display: block;
    padding: 2px;
    position: relative;
	float:left;

}
.pop-rel {
    border-bottom: 0 none;
    margin-left:10px;
    padding: 0;
	font-size:10px;
}
.pop-rel a{
	color:#cc5600;
	font-size:11px;
	text-decoration:none;
	
	}
.pop-rel a:hover{
	text-decoration:underline;
	}
a.siteLink {
	color:#cc5600;
	font-size:12px;
	text-decoration:underline;
}
a.siteLink:hover {
	text-decoration:none;
}
a.siteLink1 {
	color:#cc5600;
	font:normal 14px Arial, Helvetica, sans-serif;
	text-decoration:underline;
}
a.siteLink1:hover {
	text-decoration:none;
}	


div.search_main div.se_bg {
  background: url(../images/search_mid.jpg) 0 0 repeat-x;
  height:46px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

div.search_main div.se_bg div.se_bg {
   background: url(../images/search_rgt.jpg) 100% 0 no-repeat;
}

div.search_main div.se_bg div.se_bg div.se_bg {
   background: url(../images/search_lft.jpg) 0 0 no-repeat;
}
.button_bg {
	width:56px;
	height:25px;
	float:left;
	margin-left:10px;
	}
.button_bg a, .button_bg{
	width:56px;
	background-image:url(../images/img_but.jpg);
	display:block;
	border:none;
	cursor:pointer;
	}
.button_bg a:hover, .button_bg_over{	
	
	background-image:url(../images/img_but_over.jpg);	
	}
.post_button {
		width:210px;
	height:25px;
	float:left;
	margin-left:10px;

	}
.post_button a{
	width:210px;
	background-image:url(../images/post_but.jpg);
	display:block;
	}
.post_button a:hover{	

	background-image:url(../images/post_but_over.jpg);	
	}					
.contend_main {
	width:984px;  margin-left:10px; 
	}
.contend_main .con_lft {		
width:220px;  float:left;   margin-top:5px; margin-bottom:15px;
	}
.contend_main .con_lft .header{	
width:185px;  background-color:#e4e4e4; margin-left:6px; padding:5px 10px 5px 10px; font-size:12px; font-weight:bold;
	}	
.contend_main .con_rgt {		
width:754px; float:left; margin-left:10px; margin-top:5px; margin-bottom:15px;
	}			
div.element-box {
  background: #fff;

  }
div.t,div.b{

  height:12px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}


div.m {
border-right:solid 1px #dddddd;
border-left:solid 1px #dddddd;
	
}

div.element-box div.t {
  background: url(../images/graybg_top.jpg) 0 0 repeat-x;
}

div.element-box div.t div.t {
   background: url(../images/top_rgt.jpg) 100% 0 no-repeat;
}

div.element-box div.t div.t div.t {
   background: url(../images/top_lft.jpg) 0 0 no-repeat;
}

div.element-box div.b {
  background: url(../images/graybg_bot.jpg) 0 100% repeat-x;
}

div.element-box div.b div.b {
   background: url(../images/bot_rgt.jpg) 100% 0 no-repeat;
}

div.element-box div.b div.b div.b {
		   background: url(../images/bot_lft.jpg) 0 0 no-repeat;
}
.inner_back1 {
width:232px;  margin-right:13px; float:left;	
	}
.inner_back2 {
width:232px;  float:left;	
	}
.header_bg {	
width:232px; min-height:34px; padding:3px;
/*background-image:url(../images/head_bg.jpg);*/
	}
.header_bg .h_lft{	
width:160px;  padding:7px 10px 0px 10px; font-size:17px; font-weight:bold; color:#0065cc; float:left;
}
.header_bg .h_lft, .header_bg .h_lft a{	
	width:160px;  font-size:17px; font-weight:bold; color:#0065cc; float:left;text-decoration:none;
}
.header_bg .register{	
width:560px; padding:7px 10px 0px 10px; font-size:17px; font-weight:bold; color:#0065cc; float:left;border:1px solid red;
}
.header_bg img {		
  padding-top:3px; float:left; 
  	}
.header_bg font {	
color:#000000; font-size:10px; padding-left:5px; text-align:center;
	}
.titleBg{
	 background-color: #E4E4E4;
    font-size: 12px;
    font-weight: bold;
    margin-left: 6px;
    padding: 5px 10px;width:700px;
}

.frmcont{
	color:#000000; font:normal 12px Arial, Helvetica, sans-serif;background:#fff;width:700px;padding:5px 5px 5px 10px;
}

.reg_frmcont{
	color:#000000; font:normal 12px Arial, Helvetica, sans-serif;background:#fff;width:400px;padding:5px 5px 5px 10px;
}

.boxlist {
	width:230px;
	margin-left:0px;
	margin-top:10px;
	margin-bottom:20px;
	}


.boxlist a{
	color:#0065cc;
	text-decoration:none;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	display:block;
	border-bottom:solid 1px #e2eafb;
	padding:3px 10px;
}

.boxlist  a:hover
{
	
	color:#0065cc;
	text-decoration:underline;

	}	
.boxlist_lft {
	width:200px;
	margin-left:0px;
	margin-top:10px;
	margin-bottom:20px;
	}
.boxlist_lft-search {
	width:200px;
	margin-left:0px;
	margin-top:10px;
	}


.boxlist_lft a, .boxlist_lft-search a{
	color:#0053a7;
	text-decoration:none;
	font-weight:normal;
	font-size:11px;
	display:block;
	padding:3px 10px;
}

.boxlist_lft  a:hover, .boxlist_lft-search a:hover
{
	
	color:#0053a7;
	text-decoration:underline;

	}
.post_bg {	
	width:202px; height:52px; background-image:url(../images/post_bg.jpg); margin-left:10px;
	}
.post_bg a{	
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	
	font-size:20px;
	display:block;
	padding:15px 10px 0px 32px;
	}
.post_bg a:hover{
	color:#ffea00;
	text-decoration:none;
	}	
div.bot1 {
  background-color:#f2f2f2;
  height:49px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size:11px;
  
}

div.bot1 div.bot1 {
   background: url(../images/bot1_rgt.jpg) 100% 0 no-repeat;
}

div.bot1 div.bot1 div.bot1 {
   background: url(../images/bot1_lft.jpg) 0 0 no-repeat;
}	
.bottom_main{
	width:100%; margin-top:15px;
		}
.boxlist_bot{
	width:105px;
	float:left;
	margin-right:15px;
	margin-top:10px;
	margin-bottom:20px;

	}


.boxlist_bot a{
	color:#0053a7;
	text-decoration:none;
	font-weight:normal;
	font-size:11px;
	display:block;
	padding:3px 10px;
}

.boxlist_bot  a:hover
{
	
	color:#0053a7;
	text-decoration:underline;

	}		
div.footer {
  background-color:#0070b7;
  height:29px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size:11px;
  color:#FFFFFF;
  
}

div.footer div.footer {
   background: url(../images/footer_rgt.jpg) 100% 0 no-repeat;
}

div.footer div.footer div.footer {
   background: url(../images/footer_lft.jpg) 0 0 no-repeat;
}
div.footer div.footer div.footer .links{	
padding-top:8px; padding-left:15px; text-align:center;
	}
div.footer div.footer div.footer .links a{
	color:#FFFFFF;
	text-decoration:none;
	}	
div.footer div.footer div.footer .links a:hover{
	text-decoration:underline;
	}
.copy {
	font-size:11px;
	
	padding:10px 0px 10px 10px;
	}		
.bottom_line {
	position:relative;
	width:100%;
	border-top:solid 5px #1c6697;

	}

/*-------------- edited by ram 14-02-0-2012 ----------------*/

.registration td /* registration table */
{
	padding:13px 0 13px 0;
}


/*---------------------		inner ------------------------*/
div.in_head {
 background-color:#993300;
  height:34px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size:11px;
  color:#FFFFFF;
  background: url(../images/header_mid.jpg) 100% 0 repeat-x;
  
}

div.in_head div.in_head {
   background: url(../images/header_rgt.jpg) 100% 0 no-repeat;
}

div.in_head div.in_head div.in_head {
   background: url(../images/header_lft.jpg) 0 0 no-repeat;
}

div.in_head div.in_head div.in_head .head_txt{	
 padding:7px 10px 0px 10px; font-size:17px; font-weight:bold; color:#0065cc; 
	}
div.in_head div.in_head div.in_head .head_txt font{	
	color:#000000; font-size:10px; padding-left:10px;
	}
.bor_bot {
	position:relative;

	width:100%; overflow:hidden; border-bottom:solid 1px #CCCCCC;
	}
.bor_bot .links{		
   font-size:11px;font-weight:bold; float:right;	color:#ff4d01; padding-top:5px; padding-bottom:5px; 
	}
.bor_bot .links a{
	font-size:11px; color:#999999; font-weight:bold; text-decoration:none; padding:0px 5px;
	}
.bor_bot .links a:hover{
	color:#ff4d01;
	text-decoration:underline;
	}
.bor_bot .links a.active{
		color:#ff4d01;
	text-decoration:underline;
	}	
.bor_bot img{	
	margin:10px;
	float:left;
	}
.bor_bot .rgtfirst {
width:500px; height:90px;  float:left; margin-top:10px;	font-size:12px; color:#0065cc;
	}
.bor_bot .rgtfirst a{
	color:#f94d01;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
	display:block;
	}
.bor_bot .rgtfirst a:hover{
	text-decoration:underline;
	}
.bor_bot span{
	font-size:11px;
	color:#333333;
	display:block;
	padding-top:2px; padding-bottom:5px;
	}			
.bor_bot .rgtsecnd {		
width:100px; height:90px;  float:left; margin-top:10px; margin-left:10px; font-size:12px; text-align:center; font-weight:bold;
}
.text_box {
    background-color: #FFFFFF;
    border: 1px solid #c4e9f9;
    color: #666666;
    font-family: Arial;
    font-size: 12px;
    height: 20px;
    padding-left: 3px;
    width: 200px;
	line-height:20px;
}
.text_box1 {
    background-color: #FFFFFF;
    border: 1px solid #c4e9f9;
    color: #666666;
    font-family: Arial;
    font-size: 12px;
    height: 20px;
    padding-left: 3px;
    width: 160px;
	line-height:20px;
}
.text_box2 {
    background-color: #FFFFFF;
    border: 1px solid #c4e9f9;
    color: #666666;
    font-family: Arial;
    font-size: 12px;
    height: 20px;
    padding-left: 3px;
    width: 150px;
}
.text_area {
    background-color: #FFFFFF;
    border: 1px solid #c4e9f9;
    color: #666666;
    font-family: Arial;
    font-size: 12px;
    height: 60px;
    padding-left: 3px;
    width: 200px;
}
.combo_box{
	background-color: #FFFFFF;
    border: 1px solid #c4e9f9;
    color: #666666;
    font-family: Arial;
    font-size: 12px;
    height: 20px;
    padding-left: 3px;
    width: 207px;
	height:25px;
}
.classified-table {
	background-color: #E4E4E4;
}
.classified-table th {
	background-color: #E4E4E4;
	height:20px;
}
.classified-table td {
	padding:2px 5px 2px 10px;
	background-color: #ffffff;
	
}

/* -------- registration login box css ----  */

.contend_main .login_box_cont {		
width:300px;  float:left;   margin-top:5px; margin-bottom:15px; padding:35px 0 0 0;
	}
.contend_main .login_box_cont .header{	
width:260px;  background-color:#e4e4e4; margin-left:6px; padding:5px 10px 5px 10px; font-size:12px; font-weight:bold;
	}	
	
div.element-box {
  background: #fff;
  background: #fff;
  }
div.login_box div.t {
  background: url(../images/graybg_top.jpg) 0 0 repeat-x;
}

div.login_box div.t div.t {
   background: url(../images/top_rgt.jpg) 100% 0 no-repeat;
}

div.login_box div.t div.t div.t {
   background: url(../images/top_lft.jpg) 0 0 no-repeat;
}

div.login_box div.b {
  background: url(../images/graybg_bot.jpg) 0 100% repeat-x;
}

div.login_box div.b div.b {
   background: url(../images/bot_rgt.jpg) 100% 0 no-repeat;
}

div.login_box div.b div.b div.b {
		   background: url(../images/bot_lft.jpg) 0 0 no-repeat;
}

.frmloginbx{
	color:#000000; font:normal 12px Arial, Helvetica, sans-serif;background:#fff;width:250px;padding:5px 5px 5px 10px;
}

.head_bg{ background-image:url(../images/center_bg.jpg);background-position:top center;background-repeat:repeat-x; border:none; padding-top:4px; height:35px; border-bottom:1px solid #e7e8e9;font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#192a36; text-decoration:none;  }

.centerhead{font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#192a36; text-decoration:none; }

/* --------  registration login box css ends here ------ */